@import url("box.css");
@import url("typography.css");

:root{
    --offset-base-size: 4px;

    --fs-small: 16px;
    --fs-regular: 18px;
    --fs-big: 48px;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --ff: 'Inter', sans-serif;

    --text-color: #000;
    --accent-color: #E03838;
    --details-color: #2754A8;
    --contact-color: #aaa;
}

body {
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-small);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
.container {
    width: min(100% - 1rem , 1200px);
    margin: 0 auto;
}